.content {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  background: #fff;
  width: 900px;
  border: 1px solid #ccc;
  border-top: 0;
}

// .content-sidebar {
//   width: 200px;
//   min-height: 200px;
//   padding: 20px;
//   padding-right: 19px;
//   border-right: 1px solid #ccc;
// }

.content-main {
  width: 840px;
  min-height: 200px;
  padding: 20px;
}

button{
    border: 1px solid grey;
  background-color: white;
  padding: 10px;
  border-radius: 5px;
}

[class*="masonry-"] {
    column-count: 4;
    column-gap: 1em;
}
[class*="item-"] {
    background-color: #eee;
  display: inline-block;
  margin: 0 0 1em;
  border-radius: 7px;
  width: 100%;

  img{
      border-radius: 15px;
  }
}


@media (min-width: 301px) and (max-width: 600px){
  /* styles for this breakpoint go here */
  [class*="masonry-"] {
    column-count: 3;
    column-gap: 1em;
  }
}
@media screen and (max-width: 301px) {
  /* styles for this breakpoint go here */
  [class*="masonry-"] {
    column-count: 2;
    column-gap: 1em;
  }
}