.board-show{
    background:white;
    padding-left: 30px;
}

.board-show-header{
    padding: 30px;
  text-align: center;
}

.board-show-header h1{
    font-size: 40px;
    margin-block-start: 1.33em;
    margin-block-end: 1.33em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
.masonry-board-show-pins,
.item-board-show-pins{
    background:white;
}
.icon-back-arrow{
    padding: 7px;
}