@import "../base/colors";

body {
  font-family: "Roboto", sans-serif;
  // border: 1px solid yellow;
  font-size: 24px;
  font-weight: bolder;
  background: #eee;
}

.header {
  background:white;
  // border: 1px solid blue;
  color: $darkgrey;
  // border-bottom: 1px solid #ccc;
}
// .header h1{
 

//   // border: 1px solid blue;
// }
.header li {
  display: block;
  padding: 7px;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  border-radius: 45%;
}

.header-nav {
  // padding-top: 20px;
  display: flex;
  justify-content: space-between;
  // border: 1px solid green;
  // margin-top: 20px;
  width: 100%;
  overflow: auto;
  // width: auto;
  // border-left: 1px solid #ccc;
  // border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

.header-logo {
  display: flex;
  // border: 1px solid red;
  // border-left: 1px solid #ccc;
  font-weight: 700;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  padding: 7px;
  // border-radius: 50%;
  // background-color: red;
  // h2{
  //   font-size: x-large;
  //   color: white;
  //   border-radius: 50%;
  //   padding: 20px;
  //   background-color: red;
  // }
}

.header-logo img {
  height: 70px;
  width: 70px;
}

.header-logo:hover {
  background:$lightgrey;
}
// .header-app{
//   display: flex;
//   border-right: 1px solid #ccc;
//   h1{
//     // font-size: 20;
//     font-weight: bolder;
//     padding-top: 20px;
//     padding-right: 10px;
//   }
// }
.header-right{
  display: flex;
  align-items: center;
}
.header-list {
  display: flex;
  align-items: center;
}
.header-nav-search{
  display: flex;
  align-items: center;
  // margin-top: 10px;
  padding-left: 10px;
  width: 30%;
  border-right: 1px solid #ccc;
}
.search-input{
  padding: 10px;
  background-color: rgb(231, 228, 228);
  //  border-top: 1px solid grey;
  //   border-right: 1px solid grey;
  //   border-bottom: 1px solid grey;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
}

.header-list > li {
  // border-left: 1px solid #ccc;
}

.header-list > li:hover {
  background: rgb(231, 228, 228);
}

.header-greeting{
  // display: block;
  padding: 30px;
  text-align: center;
  // border: 1px solid red;

}

// .header-greeting-btn{
//   float: right;
//   justify-content: space-between;
//   font-size: 16;
//   border: 1px solid grey;
//   background-color: white;
//   padding: 10px;
//   border-radius: 5px;

// }

