// .masonry{
//     column-count: 4;
//   column-gap: 1em;
// }

// .item{
//     background-color: #eee;
//   display: inline-block;
//   margin: 0 0 1em;
//   border-radius: 7px;
//   width: 100%;
// }
// .item img{
//     border-radius: 15px;
//     // margin-left: 15px;
// }

.session-form-container {
    position: relative;
  top: 10px;
  left: 50%;
  margin-left: -220px;
  width: 400px;
//   padding: 20px;
  background: #fff;
  z-index: 3;
    border-radius: 5%;
  border: 1px solid grey;
   display: flex;
   justify-content: center;
 }
.session-form-box{
    border-radius: 5%;
    padding: 40px;
   background: white;
   position: relative;
    
}
 .session-form {
   display: flex;
   justify-content: center;
   flex-direction: column;
 }
 .session-header{
    align-items: center;
    text-align: center;
 }
 .session-header .header-logo{
   display: flex;
   justify-content: center;
  align-items: center;
    // //  position: relative;
    // margin-left: 90px;
    //  height: 60px;
    //  width: 60px;
 }
 .session-errors{
    color: red;
    font-size: 12px;
 }

 .session-input {
//    margin-left: 20px;
   padding: 10px;
   border-radius: 7px;
  border: 1px solid grey;
 }

 .session-form-box {
//    outline: 1px solid black;
   
 }
.session-btn{
    display: flex;
    justify-content: center;
}
 .session-submit {
     margin-top: 10px;
    //  margin-left: 20px;
     border: 1px solid grey;
  background-color: white;
  padding: 10px;
  border-radius: 5px;
   text-transform: capitalize;
   color: white;
    font-weight: bold;
    background-color: rgb(202, 5, 5);
 }
 .session-form-bottom{
     margin-top: 10px;
    border-top: 1px solid grey;
    padding: 10px;
 }
 small{
     margin-top: 20px;
     font-size: x-small;
     color:grey;
 }

 .demo-login{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16;
  font-weight: normal;
  cursor: pointer;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 8px;

 }

 .demo-login:hover{
  background: rgb(231, 228, 228);
  text-decoration: underline;
 }