.create-pin-item{
    height: 236px;
    border-radius: 8px;
    justify-content: center;
    align-items: center;
    background-color: #efefef;
    box-sizing: border-box;
    max-width: 100%;
    display: flex;
    flex-direction: row;
}

.pin-footer{
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: 8px;
    display: block;
    font-weight: 700;
    background: white;
}

.icon-plus-red{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color:rgb(230, 0, 35);;
    padding: 3px;
    color:white;
    border-radius: 45%;
}

    
.pin-list{
    position:relative;
    // border: 1px solid purple;
    
}
.icon-edit-list{
    display:none;
    position: absolute;
    align-items: center;
    justify-content: center;
    top: 3%;
    left: 5%;
    width: 40px;
    height: 40px;
    // border: 2px solid green;
    border-radius: 45%;
    padding: 7px;
    background-color: white;
}
.pin-list-submit{
    display:none;
    // position: absolute;
    // top: 0%;
    // right: 5%;
    // margin-top: 10px;
    //  margin-left: 20px;
    position: relative;
     border: 1px solid grey;
    padding: 10px;
    border-radius: 5px;
    text-transform: capitalize;
    color: white;
    font-weight: bold;
    background-color: rgb(202, 5, 5);
    // border: 2px solid blue;
}

.pin-list-btn{
    display:none;
    position: absolute;
    bottom: 2%;
    right: 5%;
}

.pin-list:hover .icon-edit-list{
    display: block;
}  
.pin-list:hover .pin-list-submit{
    display: block;
}  
.pin-list:hover .pin-list-btn{
    display: block;
}  

.pin-list-submit-dropdown {
    display:block;
    position: absolute;
    top: 0%;
    right: 5%;
    margin-top: 10px;
    // border: 1px solid purple;

}
.pin-list-submit-dropdown-content {
    display: none;
  position: absolute;
  top: 55px;
  right: -20px;
  margin-top: -5px;
  background-color: #f1f1f1;
  min-width: 160px;
  border-radius: 8px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
//   border: 1px solid blue;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
}

.pin-list-submit-board:hover{
    text-decoration: underline;
    background: rgb(231, 228, 228);
}

.pin-list-submit-dropdown-content:hover,
.pin-list-submit:hover + .pin-list-submit-dropdown-content {
    display: block;
}   