@import "../base/colors";

.profile {
  background:white;
  // border: 1px solid blue;
  color: $darkgrey;
  // border-bottom: 1px solid #ccc;
}

.profile-greeting{
//   display: block;
  padding: 30px;
  text-align: center;
  // border: 1px solid red;

}
.greeting-list{
    display: flex;
  align-items: center;
}

.greeting-list li{
//   display: flex;
//   align-items: center;
  padding: 7px;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  border-radius: 45%;
}


.greeting-list > li:hover {
  background: rgb(231, 228, 228);
}

.icon-plus-dropdown {
  position: relative;
  display: inline-block;
//   border: 1px solid red;
}

.dropdown-content {
  display: none;
  position: absolute;
  margin-top: -5px;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
//   border: 1px solid blue;
}
.dropdown-content li {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.icon-plus-dropdown:hover{
    background: rgb(231, 228, 228);
}
.dropdown-content li:hover{
    text-decoration: underline;
    background: rgb(231, 228, 228);
}

.dropdown-content:hover,
.icon-plus-dropdown:hover + .dropdown-content {
    display: block;
}   


.profile-name{
  // display: block;
  font-size: 40px;
    margin-block-start: 1.33em;
    margin-block-end: 1.33em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;

}
.profile-following{
    font-size: x-small;
    color:black;
}



.interactive{
  display: flex;
  justify-content: flex-start;
}

body {
  font-family: "Roboto", sans-serif;
  // border: 1px solid yellow;
  font-size: 24px;
  font-weight: bolder;
  background: #eee;
}
.profile-tabs{
    background:white;
}
.tab-header{
  width: 200px;
  height: 30px;
  background:white;
  // border: 1px solid blue;
  color: $darkgrey;
  margin: 0 20px;
  display: flex;
  justify-content: space-between;
}

.tab-header > li{
 display: block;
 color: #8e8e8e;
 min-height: 40px;
  text-align: center;
  padding: 8px 16px;
  text-decoration: none;
  border-radius: 999px;
  cursor: pointer;
  background-color: white;
}


.tab-header > li:hover{
    color: #333;
  background-color: #efefef;
  text-decoration-line: underline;

}

.active{
  color: #333;
  background-color: #efefef;;
}

.tab-content{
    margin: 40px;
    display: block;
    justify-content: center;
    flex-wrap: wrap;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;

}
// .tabs{
//   width: 240px;
//   height: 200px;
// }

// .tab-content{
//   font-weight: bold;
//   color: white;
//   height: 192px;
//   margin: 0 20px;
//   border-left: 2px solid black;
//   border-bottom: 2px solid black;
//   border-right: 2px solid black;
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   background-color: lightblue;
//   background-image: url(https://hd.unsplash.com/photo-1445112098124-3e76dd67983c);
//   background-size: cover;
// }

// .tab-content article{
//   text-align: center;
// }

// body{
//   display: flex;
//   justify-content: space-around;
// }

// .interactive{
//   display: flex;
//   justify-content: space-around;
// }
